@charset "UTF-8";
/*======================================================================
* Reset
======================================================================*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	outline: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	color: inherit;
	background-color: transparent;
	border: 0;
}
a {
	color: inherit;
	text-decoration: none;
}

html,
body {
	width: 960px;
	height: 1500px;
}
.section {
	margin: 0 auto;
	padding: 0 60px;
	max-width: 960px;
}

header {
	z-index: 100;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 41.5px 0;
}
.panel_wrap {
	position: relative;
}
.panel {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.panel > button {
	border-radius: 75px;
	transition: 0.2s ease-in-out;
	width: 75px;
	height: 75px;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	font-size: 42.35px;
}
.panel > button.active,
.panel > button:hover {
	color: #363089;
	background-color: #fff;
}

.panel > img {
	position: absolute;
	top: 0;
	left: 0;
}

.visual {
	position: relative;
	height: 1500px;
	background-image: url("resorce/Background.png");
	background-repeat: no-repeat;
}
.visual > .currentFloor {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
}
.visual > .currentFloor span:first-child {
	position: relative;
    bottom:50px;
	right: 30px;
	font-size: 371.36px;
}
.visual > .currentFloor span:last-child {
	position: relative;
    bottom: 50px;
	right: 50px;
	font-size: 145.31px;
}

#contents {
	position: relative;
}
.blackbackground {
	height: 74px;
	background-color: black;
}

.ico_1 > img {
	height: 617px;
}

.section > img {
	height: 300px;
}
